@page "/"
@using demoVer.Components.Layout
@inject IJSRuntime JS
@inject CanBusService CanBusService
@rendermode InteractiveServer

<PageTitle>NTN module</PageTitle>

<TopRow OnSendToParent="ReceiveFrom_TopRow"
        InformParentTo_OpenAddCard="ReceiveFrom_TopRow_OpenAddCard"
        @ref="refChild_TopRow"/>

<!-- Independent of the HOME arrangement-->
@if(!string.IsNullOrEmpty(AlertMessage))
{
    <div class="custom-alert">
        <div class="custom-alert-row">
            <span class="alert-text">⚠️ @AlertMessage</span>
        </div>
        
        <div class="custom-btn-col">
            <button class="close-btn confirm-btn" @onclick="ConfirmDelete">確定</button>
            <button class="close-btn cancel-btn" @onclick="CancelDelete">取消</button>
        </div>
        
    </div>
}

@if(isModalOpen)
{
    <div class="modal-overlay" @onclick="CloseModal">
        @if(isEditMenuOpen)
        {
            <div class="modal-content" @onclick:stopPropagation>
                <h3>卡片管理</h3>
                <button class="modal-btn" @onclick="EditCard">編輯卡片</button>
                <button class="modal-btn" @onclick="DeleteCard">刪除卡片</button>
            </div>
        }
        else if(showAddCard_Flag)
        {
            <div class="modal-content" @onclick:stopPropagation>
                <h3>選擇卡片</h3>
                <div class="selection-group">
                    <div class="addCard-selection-img-label-col" type="button" @onclick="() => addCard(CARD_TYPE_INFO)">
                        <img src="images/cardSelection-info.png" alt="plus" class="addCard-selection-img"/>
                        <div class="addCard-selection-label">資訊</div>
                    </div>
                    <div class="addCard-selection-img-label-col" type="button">
                        <img src="images/cardSelection-chart.png" alt="plus" class="addCard-selection-img"/>
                        <div class="addCard-selection-label">圖表</div>
                    </div>
                    <div class="addCard-selection-img-label-col" type="button">
                        <img src="images/cardSelection-status.png" alt="plus" class="addCard-selection-img"/>
                        <div class="addCard-selection-label">連接狀態</div>
                    </div>
                </div>
            </div>
        }
    </div>
}
<!---------------------------------------->


<div class="column-container" @onclick="HandleGlobalClick">
    <div class="row1-container">
        <div class="row1-leftPart">
            Inverter OFF/ON：
            <label class="switch">
                <input type="checkbox" @bind="isChecked" @onclick="switchONOFF">
                <span class="slider"></span>
            </label>
        </div>

        <div class="row1-rightPart">
            Model Name：
            <div class="highlighted-content">
                NTN-5K-248
            </div>
        </div>
    </div>
    
    <div id="sortable-modules" class="module-grid" @ref="ref_module_container">
        @foreach(var card in CardInfos.Where(m => m.IsVisible))
        {
            //style="resize: horizontal; overflow: auto" //卡片可以調整寬度
            <div class="module-wrapper @card.widthClass" cardID="@card.ID" draggable="@showEditBtn_Flag" >
                @((RenderFragment)(builder => {
                    builder.OpenComponent(0, card.ComponentType); //Create Card

                    //Parameters passed into each card(razor component)
                    builder.AddAttribute(1, "CssClass", "module-card"); 
                    builder.AddAttribute(2, "showEditButton", showEditBtn_Flag);
                    builder.AddAttribute(3, "Inform_Home_openEditMenu",
                        EventCallback.Factory.Create<string>(this, Handle_Inform_Home_openEditMenu));
                    //builder.AddComponentReferenceCapture(4, inst =>{
                    //    card.ComponentRef = (LayoutComponentBase)inst;
                    //});

                    builder.CloseComponent();
                }))
                
            </div>

            //store information in CardInfos
            //card.showSequence = cardRenderCounter;
            //cardRenderCounter++;
        }
    </div>
</div>


@code
{

    //UI control code
    private bool showEditBtn_Flag;
    private bool showAddCard_Flag = false;
    private bool isModalOpen;
    private bool isEditMenuOpen;
    private bool afterAddCard_Flag = false;
    private string editingCard_Name = "";
    private string AlertMessage = "";
    private byte cardRenderCounter = 0;
    private TopRow refChild_TopRow;

    private ElementReference ref_module_container;

    public const int CARD_TYPE_INFO = 1;
    public const int CARD_TYPE_CHART = 2;
    public const int CARD_TYPE_STATUS = 3;

    public class CardInfo
    {
        public string ID {get; set;}                                        //識別用的ID(string)
        public int card_Type;                                        
        public string widthClass {get; set;}                                //定義的寬度(w25 | w50)
        public Type ComponentType {get; set;}                               //razor的元件類型(名稱)
        public bool IsVisible {get; set;}                                   //控制可不可視

        //public LayoutComponentBase ComponentRef {get; set;}                 //存Ref，之後可用這個在C#控制這些child razor元件
        public byte showSequence {get; set;}                                //存被渲染的順序 start from 0
        //public Dictionary<string, object> Parameters {get; set;} = new();   //傳入每個card的參數
    }
    
    

    public List<CardInfo> CardInfos = new ()
    {
        new CardInfo
        {
            ID = $"OverviewCard-{Guid.NewGuid().ToString("N").Substring(0,8)}",
            widthClass = "w25",
            ComponentType = typeof(OverviewCard),
            card_Type = CARD_TYPE_INFO,
            IsVisible = true,
            
        },
        new CardInfo
        {
            ID = "RunningDiagramCard",
            widthClass = "w50",
            card_Type = CARD_TYPE_STATUS,
            ComponentType = typeof(RunningDiagramCard),
            IsVisible = true,
        },
        new CardInfo
        {
            ID = "StatisticsCard",
            widthClass = "w25",
            card_Type = CARD_TYPE_INFO,
            ComponentType = typeof(StatisticsCard),
            IsVisible = true,
        },
        new CardInfo
        {
            ID = "WattDiagram",
            widthClass = "w50",
            card_Type = CARD_TYPE_CHART,
            ComponentType = typeof(WattDiagram),
            IsVisible = true,
        },
        new CardInfo
        {
            ID = "BatteryChart",
            widthClass = "w50",
            card_Type = CARD_TYPE_CHART,
            ComponentType = typeof(BatteryChart),
            IsVisible = true,
        }
    };

    #region Render_Flow_Control
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {//用這個function要搭配  @rendermode InteractiveServer 放在檔案開頭
    
        if (firstRender)
        {   
            Console.WriteLine("First Render");
            try{
                //[Debug] try drag function
                // var dotNetRef = DotNetObjectReference.Create(this);
                await JS.InvokeVoidAsync("initSortable", showEditBtn_Flag);
                await JS.InvokeVoidAsync("DotNetHelperRegister", DotNetObjectReference.Create(this));
                await JS.InvokeVoidAsync("getCardOrder");
                //await JS.InvokeVoidAsync("sortableHelper.initSortable", showEditBtn_Flag);
            }
            catch(Exception ex)
            {
                Console.WriteLine("Error : " + ex.Message);
            }
        }
        
        //每次StateHasChanged()重新渲染後，會執行以下
        if(afterAddCard_Flag)
        {
            ScrollToBottomAsync();
            afterAddCard_Flag = false;
        }


        //[Only for Debug]
        Console.WriteLine("===[NEW]===");
        foreach (var card in CardInfos)
        {
            foreach (var prop in card.GetType().GetProperties())
            {
                Console.WriteLine($"{prop.Name} = {prop.GetValue(card)}");
            }
            Console.WriteLine("------");
        }
        Console.WriteLine($"CardInfos ref: {CardInfos.GetHashCode()}");
    }

    //UI重新Render前會做這個
    protected override bool ShouldRender()
    {
        cardRenderCounter = 0;
        Console.WriteLine(cardRenderCounter);
        return true;
    }
    #endregion //Render_Flow_Control

    [JSInvokable] public void UpdateCardOrderFromJS(List<string> newOrder)
    {
        Console.WriteLine("New card order received : ");
        byte counter = 0;
        foreach(var id in newOrder)
        {
            Console.WriteLine(id);
            var targetCard = CardInfos.Find(c => c.ID == id);
            if(targetCard != null)
            {
                targetCard.showSequence = counter;
                counter ++;
            }
            else
            {
                Console.WriteLine("targetCard == NULL");
            }
        }

        Console.WriteLine("=== [AFTER UPDATE] ===");
        foreach (var card in CardInfos)
        {
            Console.WriteLine($"Card {card.ID} => showSequence: {card.showSequence}");
        }
        Console.WriteLine($"CardInfos ref: {CardInfos.GetHashCode()}");
    }

    private async Task ReceiveFrom_TopRow(bool _FromTopRow_showEditBtn_Flag)
    {
        showEditBtn_Flag = _FromTopRow_showEditBtn_Flag;
        await JS.InvokeVoidAsync("initSortable", showEditBtn_Flag); //enable or disable sortableJS
    }

    private async Task ReceiveFrom_TopRow_OpenAddCard()
    {
        isModalOpen = true;
        showAddCard_Flag = true;
        Console.WriteLine("TETSTSETSETSETSETSET");
    }

    private void Handle_Inform_Home_openEditMenu(string _editingCard_Name_FromChild)
    {
        editingCard_Name = _editingCard_Name_FromChild;
        isModalOpen = true;
        isEditMenuOpen = true;
        Console.WriteLine($"{editingCard_Name}");
    }

    private void CloseModal()
    {   
        //close modal
        isModalOpen = false;
        //Reset editingCard_Name
        editingCard_Name = "";
        //close EditMenu
        isEditMenuOpen = false;
        //Close Alert
        AlertMessage = null;
        //close AddCardSelection
        showAddCard_Flag = false;
    }

    private void OpenEditCard()
    {

    }

    private void DeleteCard()
    {
        if(editingCard_Name == "")
        {
            Console.WriteLine("Current editing card is empty");
            return;
        }
        
        var targetCard = CardInfos.Find(c => c.ID == editingCard_Name);
        if(targetCard != null)
        {
            //show alert
            isEditMenuOpen = false;
            TriggerAlert("警告 : 刪除後無法復原");
            Console.WriteLine($"ID: {targetCard.ID}, WidthClass: {targetCard.widthClass}, ComponentType: {targetCard.ComponentType}, IsVisible: {targetCard.IsVisible}");

            // targetCard.IsVisible = false;
            
            // StateHasChanged();
            
        }
    }

    private void TriggerAlert(string _alertMessage_FromOtherFunc)
    {
        AlertMessage = _alertMessage_FromOtherFunc;
    }

    private void ConfirmDelete()
    {
        var targetCard = CardInfos.Find(c => c.ID == editingCard_Name);
        if(targetCard != null)
        {
            CardInfos.Remove(targetCard);
            //targetCard.IsVisible = false;
            StateHasChanged();
        }
        CloseAlert();
        CloseModal();
    }

    private void CancelDelete()
    {
        CloseAlert();
        CloseModal();
    }

    private void CloseAlert()
    {
        AlertMessage = null;
    }

    private void HandleGlobalClick()
    {
        refChild_TopRow?.HideMenu();
    }

    private void addCard(int _selection)
    {
        switch(_selection)
        {
            case CARD_TYPE_INFO: //infoCard
                var newCard = new CardInfo
                {
                    ID = "infoCard",
                    widthClass = "w25",
                    card_Type = (int)(CARD_TYPE_INFO),
                    ComponentType = typeof(BlankInfoCard),
                    IsVisible = true
                };
                CardInfos.Add(newCard);
                afterAddCard_Flag = true;
                StateHasChanged();
                CloseModal();
                break;
            case CARD_TYPE_CHART: //chart
                break;
            case CARD_TYPE_STATUS: //status
                break;
            default:
                break;
        }
        
    }

    private async Task ScrollToBottomAsync()
    {
        Console.WriteLine("Scroll to bottom C#");
        await JS.InvokeVoidAsync("scrollToBottom");
    }

    private void EditCard()
    {
        var targetCard = CardInfos.Find(c => c.ID == editingCard_Name);
        Console.WriteLine(Guid.NewGuid().ToString("N"));

    }

    private bool isChecked = false;

    private string canInterface = "can0";
    private string canMessage = "123#deadbeef";   
    private string resultMessage= "";

    private async void switchONOFF()
    {
        if(isChecked)
        {
            await ON();
        }
        else
        {
            await OFF();
        }
    }

    private async Task SendCanData()
    {
        bool success = await CanBusService.SendCanMessageAsync(canInterface, canMessage);
        //await CanBusService.SendCanMessageAsync("can0", "123#deadbeef");
        resultMessage = success ? "發送成功！" : "發送失敗！";
    }

    private async Task ON()
    {
        canMessage = "000C0500#00010300";   
        bool success = await CanBusService.SendCanMessageAsync(canInterface, canMessage);
        //await CanBusService.SendCanMessageAsync("can0", "123#deadbeef");
        resultMessage = success ? "發送成功！" : "發送失敗！";
    }

        private async Task OFF()
    {

        canMessage = "000C0500#00010200";   
        bool success = await CanBusService.SendCanMessageAsync(canInterface, canMessage);
        //await CanBusService.SendCanMessageAsync("can0", "123#deadbeef");
        resultMessage = success ? "發送成功！" : "發送失敗！";
    }


}